@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
img, input, button{
    vertical-align: top;
}
button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}